PORT=5000
MONGODB_URI=mongodb+srv://om320_db_user:xWmxrzkp6mTPS99X@thyroidcare.lqxw62y.mongodb.net/
JWT_SECRET=sdvmd-sdvw4dw5c4w5-scmkgbrtnhymnymy
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=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