PORT=5000
MONGODB_URI=mongodb+srv://om320_db_user:xWmxrzkp6mTPS99X@thyroidcare.lqxw62y.mongodb.net/
JWT_SECRET=sdvmd-sdvw4dw5c4w5-scmkgbrtnhymnymy
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=your_openai_api_key_here
NN_MODEL_URL=http://127.0.0.1:8000